@media (max-width: 678px) {
  .nav-list {
    display: none;
  }

  .nav-button {
    display: block;
  }

  .nav.open .nav-list {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    /* z-index: 1; */
  }

  .nav-button {
    position: fixed;
    z-index: 9;
    top: 20px;
    right: 20px;
  }

  .header-social {
    margin-right: 70px;
  }

  .main-content {
    margin-top: 100px;
  }

  .main-title {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .main-text {
    margin-bottom: 40px;
  }
  .main-img {
    width: 300px;
    height: 350px;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 540px) {
  .header-wrapp {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    height: 120px;
  }

  .header-logo__img {
    margin-top: 10px;
    width: 120px;
  }

  .header-addres__title {
    /* padding-left: 10px; */
    display: none;
  }

  .header-social {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header-call {
    margin-bottom: 10px;
    margin-right: 50px;
  }

  .header-email__icon {
    width: 30px;
  }

  .nav-a {
    padding-left: 120px;
    padding-right: 100px;
  }

  .main-content {
    margin-top: 120px;
  }

  .main-title {
    text-align: center;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 20px;
  }

  .main-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  .main-text-modal__mobile {
    margin-bottom: 50px;
  }

  .text-modal-mobile {
    font-weight: 500;
    text-align: justify;
    line-height: 130%;
    margin-top: 10px;
  }

  .desktop-hidden {
    display: none;
  }

  .mobile-hidden {
    display: block;
  }

  .card-title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 28px;
  }

  .card__body {
    padding: 0px 30px;
  }

  .hidden {
    display: none;
  }
}
